<form action="/newProduct" method="POST" enctype="multipart/form-data">
          <label for="name">Nombre:</label>
          <input type="text" name="nombre" id="nombre" required />
          
          <label for="description">Descripción:</label>
          <input type="text" name="descripcion" id="descripcion" required />
          
          <label for="code">Código:</label>
          <input type="text" name="codigo" id="codigo" required />
          
          <label for="price">Precio:</label>
          <input type="number" name="precio" id="precio" required />
          
          <label for="stock">Stock:</label>
          <input type="number" name="stock" id="stock" required />
          
          <label for="category">Categoría:</label>
          <input type="text" name="categoria" id="categoria" required />
          
         <label for="file">Imagen:</label>
          <input type="file" name="file" id="file" /> 
          
          <button type="submit">Enviar</button>
        </form>